.carousel-item{

    height:300px;
    width:100%;
		background: linear-gradient(90deg, #001851 0, #48a7e3);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001851", endColorstr="#48a7e3", GradientType=1);
		position: relative;
		text-align: center;

}
.d-block{height:160px;
	width: 160px;

}
.top-section {
	height: 100vh;
	background: #001851;
	background: linear-gradient(90deg, #001851 0, #48a7e3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001851", endColorstr="#48a7e3", GradientType=1);
	min-height: 930px;
	position: relative;
	text-align: center;
	padding: 180px 0 30px;
	color: #fff
}

.top-section h1 {
	margin-bottom: 0
}

.top-section h2 {
	display: block;
	font-family: LatoRegular, Arial, Tahoma, sans-serif;
	font-size: 1.5em;
	margin-top: 12px;
	margin-bottom: 68px
}

.top-section .main-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: .24
}

.top-section .container {
	position: relative;
	z-index: 5
}

.upload-tabs {
	width: 100%;
	max-width: 648px;
	margin: 0 auto
}

.upload-tabs-links {
	display: flex;
	justify-content: space-between
}

.upload-tabs-links li {
	width: 49.5%;
	flex-shrink: 0
}

.upload-tabs-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 23px 15px;
	border-radius: 2px 2px 0 0;
	background: rgba(19, 31, 58, .6);
	transition: all .3s ease-out;
	font-size: 16px;
	text-transform: uppercase
}

.upload-tabs-links a:hover {
	background: rgba(19, 31, 58, .75)
}

.upload-tabs-links .active-tab {
	background: #fff;
	color: #121212
}

.upload-tabs-links .active-tab:hover {
	background: #fff
}

.upload-tabs-container {
	padding: 45px 30px;
	box-shadow: 0 19px 50px 0 rgba(0, 0, 0, .14);
	background: #fff
}

.upload-tabs-content {
	display: none;
	color: #051831
}

.upload-tabs-content.visible {
	display: block
}

.dropzone2 {
	height: 180px;
	width: 100%;
	border: 1px dashed #3190ca;
	border-radius: 20px;
	cursor: pointer;
	padding: 20px 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	background-color: #f9fcff
}

.dropzone2.dz-drag-hover {
	border-style: solid
}

.dropzone2.dz-started .dz-message {
	display: none
}

.dropzone2 .dz-message,
.dropzone2 .dz-preview,
.dropzone2 .dz-success {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left
}

.dropzone2 .dz-processing {
	position: relative;
	display: inline-block;
	margin: .5em;
	width: 50%;
	text-align: center
}

.dropzone2 .dz-processing .dz-filename {
	font-size: 16px;
	line-height: 24px
}

.dropzone2 .dz-processing .dz-filename span {
	font-size: inherit;
	display: block
}

.dropzone2 .dz-error-message {
	margin-bottom: 10px
}

.dropzone2 .dz-error-mark,
.dropzone2 .dz-success-mark {
	display: inline-block
}

.dropzone2.dz-browser-not-supported .dz-message h4 {
	font-size: 14px
}

.dropzone2 .img-block {
	flex-shrink: 0;
	margin-right: 30px
}

.dropzone2 .img-block img {
	display: block
}

.dropzone2 h4 {
	line-height: 1.5;
	color: #051831;
	font-family: RalewayBold, Arial, Tahoma, sans-serif
}

.dropzone2 p {
	color: #989898;
	font-size: 14px;
	margin-top: 15px
}

.dropzone2 .dz-preview .dz-progress {
	display: block;
	height: 15px;
	border: 1px solid #aaa
}

.dropzone2 .dz-preview .dz-progress .dz-upload {
	display: block;
	height: 100%;
	width: 0;
	background: #4caf50
}

.dropzone2 .dz-preview .dz-error-message {
	color: red;
	display: none
}

.dropzone2 .dz-preview.dz-error .dz-error-mark,
.dropzone2 .dz-preview.dz-error .dz-error-message,
.dropzone2 .dz-preview.dz-success .dz-success-mark {
	display: block
}

.dropzone2 .dz-preview .dz-error-mark,
.dropzone2 .dz-preview .dz-success-mark {
	position: absolute;
	display: none;
	left: 30px;
	top: 30px;
	width: 54px;
	height: 58px;
	left: 50%;
	margin-left: -27px
}

.upload-link {
	position: relative
}

.upload-link .icon-link {
	position: absolute;
	z-index: 10;
	left: 18px;
	top: 13px
}

.upload-link input {
	padding-left: 50px
}

.checkbox-block {
	display: flex;
	align-items: center;
	margin-right: 20px
}

.checkbox-block .checkbox {
	display: none
}

.checkbox-block .label {
	color: #4a4a4a;
	display: inline-block;
	cursor: pointer
}

.choose-files {
	width: 100%;
	max-width: 410px;
	margin: 0 auto
}

.choose-files .form-bottom {
	display: flex;
	align-items: center;
	justify-content: center
}

.principle-section {
	background: #fff url(../i/principle_section_bg.png) 50% no-repeat;
	background-size: cover;
	padding: 34px 0 30px;
	text-align: center
}

.principle-section .static-image {
	margin-bottom: 50px
}

.principle-section .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.principle-outer {
	border-radius: 2px;
	transition: all .3s ease-out
}

.principle-outer.step-2 strong {
	top: -11px
}

.principle-outer:hover {
	background-color: #fff;
	box-shadow: 0 0 35px 0 rgba(47, 130, 200, .17)
}

.principle-block {
	padding: 45px 15px 25px;
	text-align: center
}

.principle-block .img-block {
	height: 89px;
	margin-bottom: 25px
}

.principle-block p {
	color: #696969;
	line-height: 1.4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

.principle-block p strong {
	display: block;
	color: #040f1e;
	margin-bottom: 2px;
	position: relative
}

.formats-section {
	background: #f9fcff url(../i/formats_section_bg.png) left 80% center no-repeat;
	background-size: auto 100%;
	padding: 120px 0 75px
}

.formats-list {
	text-align: left;
	color: #051831;
	margin-bottom: 65px
}

.formats-list li {
	margin-bottom: 8px
}

.formats-list li:not(.title) {
	padding-left: 25px;
	position: relative
}

.formats-list li:not(.title):before {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	border-radius: 2px;
	border-radius: 1.5px;
	width: 6px;
	height: 6px;
	background: #fba737
}

.formats-list .title {
	font-size: 24px;
	font-family: RalewayBold, Arial, Tahoma, sans-serif
}



/*
Author URI: http://webthemez.com/
Note:
Licence under Creative Commons Attribution 3.0
-------------------------------------------------------*/



/* Reset
---------------------------------*/
ul {
    list-style: none;
}




img {
    max-width: 100%;
}





h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/




/* Team
---------------------------------*/
.team_section {
    max-width: 993px;
    margin: 0 auto;
}

.team_area {
    width: 30.66%;
    margin-right: 3.82979%;
    overflow: hidden;
    text-align: center;
    float: left;
}


.team_area:nth-of-type(3n+0) {
    margin: 0;
}







/* Contact
---------------------------------*/
.page_section.contact {
    padding: 90px 0 100px;
}

.contact_section {
    margin: 0 0 60px 0;
}

.contact_section h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}






.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;

}

.input-btn {
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: #3498db;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #fff;
    color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background: #232323;
}

.footer_bottom {
    border-top: 1px solid #3C3A3A;
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #3498db;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}
